<!-- Container for Landing Page Header (Bootstrap-> Components-> Jumbotron-> Fluid)-->
<div id="home" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{{msg}}}</h2>
          <i class="fas fa-beer"></i>
      </div>
    </div>
  </div>
</div>


<!-- Container for Buttons/toggle for sign up and log in options (Bootstrap-> Components-> Collapse-> Example)-->
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#signUp" role="button" aria-expanded="false"
          aria-controls="signUp">
          Sign Up
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#logIn" aria-expanded="false"
          aria-controls="logIn">
          Log In
        </button>
      </p>

      <!-- Sign-up card content  form  (Bootstrap-> Components-> Form-> Form Row and validation) -->
      <div class="collapse" id="signUp">
        <div class="card card-body">
          <p>Burp! sign up</p>

          {{!-- Form and post to api --}}
          <form class="create-new-user needs-validation" novalidate>
            <div class="form-row align-items-center">
              <div class="form-group col-md-3">
                <label class="control-label" for="date">Please enter your Birthday</label>
                <input class="form-control" id="bday" name="date" placeholder="MM/DD/YYYY" type="date" value=""
                  required />
                <div class="invalid-feedback">Please provide Birthday</div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-3">
                <label for="inputFirstName"></label>
                <input type="text" class="form-control" id="first-name" placeholder="First Name" value="" required>
                <div class="invalid-feedback">Please provide First Name</div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputLastName"></label>
                <input type="text" class="form-control" id="last-name" placeholder="Last Name" value="" required>
                <div class="invalid-feedback">Please provide Last Name</div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-3">
                <label for="inputEmail"></label>
                <input type="email" class="form-control" id="email" placeholder="Email" value="" required>
                <div class="invalid-feedback">Please provide Email</div>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword"></label>
                <input type="password" class="form-control" id="password" placeholder="Password" value="" required>
                <div class="invalid-feedback">Please provide Password</div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-md-3">
                <label for="inputZip"></label>
                <input type="number" class="form-control" id="zip" placeholder="Zip Code" pattern="[0-9]{5}" value=""
                  required>
                <div class="invalid-feedback">Please provide Zip Code</div>
              </div>
              <div class="form-group col-md-3">
                <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Sign-in card content form (Bootstrap-> Components-> Form-> Auto-sizing)-->
      <div class="collapse" id="logIn">
        <div class="card card-body">
          <p>Sign into Burp! </p>
          <form method="post" class="needs-validation" novalidate>
            <div class="form-row align-items-center">
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Email</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email" value=""
                    required>
                  <div class="invalid-feedback">Please provide Email</div>
                </div>
              </div>
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Password</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Password" value=""
                    required>
                  <div class="invalid-feedback">Please provide Password</div>
                </div>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Log In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="container"></div>
      <div class="row">
        <h3>User List for testing only</h3>
        <div>
          {{#each users}}
          <div class="row">
            <div class="col-sm-6">
              <p>{{this.id}}. {{this.first_name}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../public/js/index.js"></script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>