<!-- Container for Landing Page Header (Bootstrap-> Components-> Jumbotron-> Fluid)-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/views/index.handlebars">
    <h1 class="logo"><i class="fas fa-beer"></i> Burp!</h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.instagram.com/official_burp_app/">Merchandise<span
            class="sr-only">(current)</span></a>
      </li>
    </ul>


    <!--LOGINS RIGHT SIDE ON NAVBAR -->
    <p>
      <a class="btn btn-outline-light" href="/signup" role="button" aria-expanded="false" aria-controls="signUp">
        CREATE AN ACCOUNT
      </a>
      <a class="btn btn-outline-light" href="/signin" role="button" aria-expanded="false" aria-controls="logIn">
        SIGN IN
      </a>
    </p>
  </div>
</nav>


<!-- TEST -->
<div class="row">
  <div class="col-sm-12">
    <div class="card-1">
      <div class="card-body">
        <br>
        <h1 class="logo"><i class="fas fa-beer"></i> Burp!</h1>
        <p class="card-text">"Discover more beers, breweries & styles... Click on our mug! "</p>
      </div>
    </div>
  </div>

  <!-- TEST -->
  <div id="home" class="jumbotron jumbotron-fluid"></div>

  <!-- ADD SEARCH BAR HERE -->
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 justify-content-center d-flex h-100">
        <form class="searchBar">
          <input class="search_input" type="search" placeholder="Search" aria-label="Search" id="searchText">
          <button class="search_icon" type="submit" id="searchBtn"><i class="fas fa-beer"></i></button>
        </form>
        <br>
      </div>
    </div>
    <br>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div>
          {{> beers/beer-block}}
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/form-validation.js"></script>
  <script src="js/beer.js"></script>