<!-- Container for Landing Page Header (Bootstrap-> Components-> Jumbotron-> Fluid)-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <h1 class="logo"><i class="fas fa-beer"></i> Burp!</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://www.instagram.com/official_burp_app/">Merchandise<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>


        <!--LOGINS RIGHT SIDE ON NAVBAR -->
        <a class="btn btn-burp btnFix" href="/signin" role="button" aria-expanded="false" aria-controls="logIn">
            SIGN IN
        </a>
        </p>
    </div>
</nav>
<!-- NavBar Ends -->


<body
    style="background-image: url(https://images.pexels.com/photos/573910/pexels-photo-573910.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">


    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">

                <!-- Sign-up card content  form  (Bootstrap-> Components-> Form-> Form Row and validation) -->
                <div class="card card-body card-center">
                    <h1 class="logo2"><i class="fas fa-beer"></i> Account</h1>
                    <br>

                    <!-- Sign up form -->
                    <form id="signup" name="signup" method="post" action="/signup" class="needs-validation create-user"
                        novalidate>

                        <div class="form-row align-items-center">
                            <div class="form-group col-md-3">
                                <label class="control-label" for="birthday">Date of Birth</label>
                                <input class="form-control" name="birthday" placeholder="MM/DD/YYYY" type="date"
                                    value="" required />
                                <div class="invalid-feedback">Please provide Birthday</div>
                            </div>
                        </div>

                        <div class="form-row align-items-center">
                            <div class="form-group col-md-3">
                                <label for="first_name"></label>
                                <input type="text" class="form-control" name="first_name" placeholder="First Name"
                                    value="" required>
                                <div class="invalid-feedback">Please provide First Name</div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="last_name"></label>
                                <input type="text" class="form-control" name="last_name" placeholder="Last Name"
                                    value="" required>
                                <div class="invalid-feedback">Please provide Last Name</div>
                            </div>
                        </div>

                        <div class="form-row align-items-center">
                            <div class="form-group col-md-3">
                                <label for="email"></label>
                                <input type="email" class="form-control" name="email" placeholder="Email" value=""
                                    required>
                                <div class="invalid-feedback">Please provide Email</div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="password"></label>
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                    value="" required>
                                <div class="invalid-feedback">Please provide Password</div>
                            </div>
                        </div>

                        <div class="form-row align-items-center">
                            <div class="form-group col-md-3">
                                <label for="zip"></label>
                                <input type="number" class="form-control" name="zip" placeholder="Zip Code"
                                    pattern="[0-9]{5}" value="" required>
                                <div class="invalid-feedback">Please provide Zip Code</div>
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-burp signUpBtn">SIGN UP</button>
                            </div>
                        </div>
                    </form>
                    <div class="signUpInMessage"> {{messages}}</div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <br>
            <br>



        </div>
    </div>
    <br>
    <br>
    <br>

    <div>

    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="js/form-validation.js"></script>