body {
  background-image: url("https://images.pexels.com/photos/573910/pexels-photo-573910.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.dashboard{
  background-image: url("https://images.pexels.com/photos/1464825/pexels-photo-1464825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.list-group-item {
  line-height: 2.5;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.logo, .logo2 {
  font-family: 'Pacifico', cursive;
  color: #f15f22;
}

.row {
  text-align: center;
}

.container {
  text-align: center;
}

.btn-burp {
  color: #f8f9fa;
  border-color: #f15f22;
  margin-top: 11px;
}

.btn-burp:hover {
  background-color: white;
  color: #f15f22;
}

.signUpBtn {
  margin-top: 23px;
}

.modal-header {
  background-color: #f15f22;
  text-align: center;
  color: white;
}

.btnFix {
  margin-top: 0px;
}

.signUpInMessage {
  color: #DC3545;
}

.facebook {
  font-size: 35px;
  color: #4267B2;
}

.signInCentering {
  margin-left: 46px;
  margin-right: 0px;
  border-left-width: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

#welcomeHeader {
  margin-right: 20px;
  color: white;
}

/* Profile Card*/
.card-left {
  background-color: #F15F22;
  background-size: cover;
  padding-left: 10px;
  padding-right: 10px;
}

/* Beer History */
.card-center {
  background-color: #353b48;


}

/* Beer Cards */
.card-header {
  background-color: #F15F22;
  color: white;
}

.beer-circles {

  display: inline;
  background-color: #353b48;
  margin-right: 5px;
}



.card {
  margin-top: 10px;
}


/* Cards */
.card-1 {
  background-color: transparent;
  color: white;
  text-align: center;
}


/* Dynamic search form styling */
.searchBar {
  margin-bottom: auto;
  margin-top: auto;
  height: 70px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input:-webkit-autofill,
.search_input:-webkit-autofill:hover, 
.search_input:-webkit-autofill:focus, 
.search_input:-webkit-autofill:active,
.search_input {
  padding: 0 2px;
  color: white;
  font-size: 30px;
  border: 0;
  outline: 0;
  background: transparent;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 800s linear;
  -webkit-box-shadow: 0 0 0 30px #353B48 inset !important;
  -webkit-text-fill-color: white !important;
}

.searchBar:hover>.search_input {
  padding: 0 2px;
  width: 450px;
  caret-color: #F15F22;
  background: transparent;
  transition: width 1s linear;
}

.searchBar:hover>.search_icon {
  background: white;
  color: #F15F22;
}

.search_icon {
  height: 50px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #F15F22;
}

/* End dynamic search style */

.control-label {
  color: white;
}
.card-center {
  background-color: #343a40;
  border-radius: 5px;
  border: white;
  border-width: 2px;
  border-style: solid;
}

.card-left {
  background-color: #F15F22;
  background-size: cover;
  padding-left: 10px;
  padding-right: 10px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type: none;
  padding: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
}

.rating-stars ul>li.star {
  display: inline-block;

}

/* Idle State of the stars */
.rating-stars ul>li.star>i.fas {
  font-size: 2.5em;
  /* Change the size of the stars */
  color: #ccc;
  /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul>li.star.hover>i.fas {
  color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul>li.star.selected>i.fas {
  color: rgb(238, 191, 52);
}


/* Static search bar for dashboard */

.searchBarNav {
  /* margin-bottom: auto; */
  /* margin-top: auto; */
  margin-right: 20px;
  height: 60px;
  border-radius: 20px;
  border-color: #F15F22;
  border-style: solid;
  padding: 5px;
}

.search_inputNav:-webkit-autofill,
.search_inputNav:-webkit-autofill:hover, 
.search_inputNav:-webkit-autofill:focus, 
.search_inputNav:-webkit-autofill:active,
.search_inputNav {
  color: white;
  font-size: 19px;
  border: 0;
  outline: 0;
  background: #343A40;
  width: 350px;
  caret-color: transparent;
  line-height: 40px;
  -webkit-box-shadow: 0 0 0 30px #343A40 inset !important;
  -webkit-text-fill-color: white !important;
}

/* .searchBarNav:hover>.search_iconNav {
  background: white;
  color: #F15F22;
} */

.search_iconNav {
  height: 35px;
  width: 35px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #F15F22;
  margin-top: 5px;
}

/* End static search bard for dashboard */



/* Media Queries */

@media (max-width: 995px) {
  #profilePic {
    width: 300px;
  }
}

@media (max-width: 576px) {

  #profilePic {
    width: 300px;
  }

  .searchBar:hover>.search_input {
    width: 230px;

  }

  /* .searchBarNav:hover>.search_inputNav {
    width: 230px;

  } */

  .search_input {
    font-size: 25px;
  }

  .search_inputNav {
    font-size: 25px;
    width: 230px;
  }

  .search_icon {
    height: 45px;
    width: 45px;

  }

  .searchBar {
    height: 65px;
  }

  .searchBarNav {
    height: 65px;
    width: 230px;
  }

  .header-text {
    font-size: 15px;
  }

  body {
    background-image: url("https://images.pexels.com/photos/573910/pexels-photo-573910.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: 1000px;

    background-repeat: no-repeat;
  }
}